/* HERO PAGE STARTS  */
.main_hero_cups_poster img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0rem;
    padding: 0rem;
}


/* .navigation_search ul {
    margin: 0rem;
padding: 0rem;
} */

.main_hero_cups_poster {
    position: relative;
    margin: 0rem;
}


.main_hero_cups_poster h1 {
    position: absolute;
    left: 5%;
    top: 25%;
}

.main_hero_cups_poster h1 {
    font-size: 60px;
    font-family: Freight_Big_Bold;
    color: white;
    letter-spacing: 8px;
    line-height: 40px;
    text-align: center;
}


.main_hero_cups_poster p {
    position: absolute;
    left: 5%;
    top: 49%;
    margin-right: 1.5rem;
}

.main_hero_cups_poster p {
    font-size: 17px;
    line-height: 25px;
    font-family: Proxima Nova;
    font-weight: bold;
    color: white;

}

/* HERO PAGE ENDS  */



/* FILTER OPTION STARTS  */

.the_filter_option {
    display: flex;
    flex-direction: row;

}

.sort-by {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 13px;
}

#real-sort-by {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 0rem;
}

.Arrow {
    margin-left: 1rem;
}

.filter_for_category_page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.the_box {
    display: flex;
    flex-direction: row;
}

.the_box img {
    margin: 1rem;
}


/* FILTER OPTION ENDS  */


/* CATEGORY STARTS  */


.img_category_page {
    width: 94%;
    height: 231px;
    object-fit: cover;
}

.category_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32vw, 1fr));
    grid-column: 1/-1;
    margin: 6vw 0vw 25vw 3.1vw;
    row-gap: 5em;
    column-gap: 0em;
}

/* .productinfo {
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vw 0 1vw;
  } */

/* CATEGORY ENDS  */

/* RECENTLY VIEWED START  */

.recently_viewed h2 {
    text-align: center;
    font-size: 26px;
    font-family: 'Bodoni Moda', serif;
    letter-spacing: 8px;
    margin-bottom: 4rem;
}

.recently_viewed {
    /* width: 100%;
    height: 80vh; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    border-bottom: 0.6px solid #BDBDBD
}


.img_recently_viewed {
    width: 100%;
    height: 40vh;
}




/* RECENTLY VIEWED ENDS  */

/* this is responsivness for the smaller screens starts */
@media (min-width: 350px) {
    .main_hero_cups_poster p {
        font-size: 13px;
        margin-right: 4rem;
        line-height: 20px;
    }

    .main_hero_cups_poster h1 {
        font-size: 50px;
        letter-spacing: 8px;
        line-height: 40px;
        top: 30%;
    }
}

/*FOOTER DESKTOP*/

.footerBox {
    height: 313px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
  }
  
  .registrant {
    margin-left: 3rem;
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    margin-bottom: 1.5rem;
  }
  
  .registerGroup {
    display: flex;
  }
  
  .registerGroup1 {
    display: flex;
  }
  
  .footerOne {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 40%;
  }
  
  .lookUp {
    padding-right: 7rem;
    font-family: "Bodoni MT", serif;
    font-size: 17px;
    line-height: 20px;
    padding-bottom: 0.5rem;
    letter-spacing: 0.1rem;
  }
  
  .registerGroup p {
    padding-right: 7rem;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 0.5rem;
    letter-spacing: 5%;
  }
  
  .registerGroup1 p {
    padding-right: 9rem;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 0.5rem;
    letter-spacing: 5%;
  }
  .footerTwo {
    display: flex;
    align-items: center;
  }
  
  .footerTwo h2 {
    padding-left: 4rem;
    font-family: "Bodoni MT", serif;
    font-size: 25px;
    line-height: 25px;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    font-weight: lighter;
  }

  .footerSoMe {
    display: flex;
    justify-content: center;
  }
  
  .footerSoMe img {
    margin: 1.8rem;
  }
  
  

/* this is responsivness for the smaller screens ends */




@media (min-width: 700px) {

    nav {
        width: 90%;
        margin-left: 1rem;
    }

    .navigation_icons {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #BDBDBD;
    }

    #logo_to_use {
        width: 122px;
        height: 44px;

    }

    .big_logo {
        background-image: url("/images_for_product_page/big_logo.svg");
        width: 50%;
        height: 50%;
    }

    .navigation_search ul li {
        list-style: none;
    }



    .navigation_search ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 20px;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #BDBDBD;
        width: 100%;
    }

    .the_entire_prodcut_page {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32vw, 1fr));
        grid-column: 1/-1;
        margin: 6vw 0vw 25vw 3.1vw;
        row-gap: 5em;
        column-gap: 0em;

    }

    .recently_viewed {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main_hero_cups_poster img {
        width: 100%;
        height: 75vh;
        object-fit: cover;
        margin: 0rem;
        padding: 0rem;
    }

    .main_hero_cups_poster h1 {
        position: absolute;
        left: 5%;
        top: 47%;
    }

    .main_hero_cups_poster h1 {
        font-size: 80px;
        letter-spacing: 8px;
        line-height: 40px;
    }


    .main_hero_cups_poster p {
        position: absolute;
        left: 5%;
        top: 60%;
        margin-right: 1.5rem;
    }

    .main_hero_cups_poster p {
        font-size: 19px;
        line-height: 30px;
        margin-right: 10rem;
        letter-spacing: 2px;

    }

    .the_filter_option {
        width: 60%;
    }


}


@media (min-width: 1200px) {
    .main_hero_cups_poster p {
        font-size: 23px;
        margin-right: 25rem;
        line-height: 35px;
    }

    .main_hero_cups_poster h1 {
        font-size: 90px;
        letter-spacing: 8px;
        line-height: 40px;
    }
}


@media (min-width: 1600px) {
    .main_hero_cups_poster p {
        font-size: 23px;
        margin-right: 45rem;
        line-height: 35px;
    }

    .main_hero_cups_poster h1 {
        font-size: 100px;
        letter-spacing: 8px;
        line-height: 40px;
    }
}

@media (min-width: 1900px) {
    .main_hero_cups_poster p {
        font-size: 23px;
        margin-right: 68rem;
        line-height: 35px;
    }

    .main_hero_cups_poster h1 {
        font-size: 100px;
        letter-spacing: 8px;
        line-height: 40px;
    }

    .filter_for_category_page_the_div_above {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .filter_for_category_page {
        margin-top: 3rem;
        width: 92%;
    }

    .sorting_obtion {
        width: 30%;
    }

    /* .to_place_it_in_the_middle_category_page {
        display: flex;
        flex-direction: row;
    } */

    .img_category_page {
        width: 50%;
        height:100%;
        object-fit: cover;
    }
    
    .category_list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
        grid-column: 1/-1;
        margin: 1vw 0vw 5vw 1vw;
        row-gap: 2em;
        column-gap: 0em;
    }

    
}


