/* LOGO TO CHANGE START*/

#logo_to_use {
    width: 30px;
    height: 30px;
   
}

.small_logo {
    background-image: url("/images_for_the_navigation_bar/small_logo.svg");
    display: block;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.img_product_page  {
    width: 90%;
}

/* LOGO TO CHANGE ENDS*/

/* HERO IMAGE FOR PRODUCT PAGE START*/


.main_product_page_items {
    position: relative;
    margin: 0rem;
    
}

.main_product_page_items img {
    margin-left: 5%;
}



.img_product_page_sign_v1 {
    position: absolute;
    top: 3%;
    left: 76%;
    cursor: pointer;
    transition: all 0.7s;
}


.img_product_page_sign_v2 {
    position: absolute;
    left: 80%;
    top: 15%;
    cursor: pointer;
    transition: all 0.7s;
}


.product_page_arrows {
    position: absolute;
    top: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
width: 90%;
margin-left: 1rem;
cursor: pointer;
transition: all 0.7s; }


/* HERO IMAGE FOR PRODUCT PAGE START*/

/* CONTING START*/

.conting {
display: flex;
flex-direction: row;
width: 90%;
justify-content: center;
margin-top: 2rem;
margin-left: 1.5rem;
}

.numbers {
    font-family: "Bodoni MT";
    font-weight: 800;
    font-size: 30px;
    padding-top: 1rem;
}

.line {
    font-size: 90px;
    margin-top: 0rem;
}

#last_number {
    padding-top: 2.5rem;
}

/* CONTING FINISH*/


@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Montserrat:wght@300;400&display=swap");

@import url("https://use.typekit.net/qxm2zyz.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.productNameAndInfo {
    margin-top: 3rem;
width: 100%;
height: 100vh;
}


/*NAME AND PRICE*/
.productNameAndPrice {
  position: relative;
  text-align: center;
  padding-bottom: 3rem;
  width: 100%;
}

.productNameAndPrice h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 20px;
  padding-top: 1rem;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 50%;
  font-weight: 300;
}

.productNameAndPrice h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding-top: 0.5rem;
  font-weight: 300;
}

.productNameAndPrice {
  position: relative;
  text-align: center;
  padding-bottom: 3rem;
  width: 100%;
}

/*SHOP BAG*/
.addShopBag {
  text-align: center;
  padding-bottom: 3rem;
}

.addShopBag button {
  text-align: center;
  padding: 0.7rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: black;
  color: white;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  border: none;
}

.availableText h3 {
  font-family: "Bodoni Moda", serif;
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 0.5rem;
  /* padding-left: 25%; */
  text-align: center;
}

.availableText p {
  font-family: "proxima-nova", sans-serif;
  font-size: 11px;
  line-height: 20px;
  padding-bottom: 0.5rem;
  margin-left: 15%;
  padding-right: 15%;
  width: 85%;
  text-align: center;
}

.availableText {
  padding-bottom: 3rem;
}

.productInfoDrop {
  font-family: freight-big-pro, serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 14%;
  display: flex;
  flex-direction: column;
}

.productDetails {
  display: flex;
  border-bottom: 1px solid #afafaf;
  padding-bottom: 0.3rem;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 75%;
  margin-bottom: 2.5rem;
}

.imgArrow {
  align-items: flex-start;
}


.productDetails h3 {
    font-size: 15px;
    letter-spacing: 2px;
}

/*
/* Whole block*/
.productNameAndInfo {
  width: 100%;
  height: 100vh;
}


/* ---------------Media queries------------------ */

@media (min-width: 500px) {
    nav {
        width: 90%;
        margin-left: 1rem;
    }

    .navigation_icons {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #BDBDBD;
    }
    
    .navigation_search ul li {
        list-style: none;
    }
    
    
    .navigation_search ul {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        font-size: 20px;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #BDBDBD;
    }
    

}

@media (min-width: 700px) {

    nav {
        width: 90%;
        margin-left: 1rem;
    }

    .navigation_icons {
        display: flex;
        justify-content: space-between;
        margin: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #BDBDBD;
    }

    #logo_to_use {
        width: 122px;
        height: 44px;
       
    }

    .big_logo {
        background-image: url("/images_for_product_page/big_logo.svg");
        width: 50%;
        height: 50%;
    }
    
    .navigation_search ul li {
        list-style: none;
    }
    
    
    

    .navigation_search ul {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        font-size: 20px;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #BDBDBD;
        width: 100%;
    }
}

